[submodule "ops"]
	path = ops
	url = git@github.com:Jalle19/ops.git
[submodule "neggefi/themes/strange-case"]
	path = neggefi/themes/strange-case
	url = https://github.com/ExchangeRate-API/strange-case.git
