{{ partial "header.html" . }}

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4 col-md-3 col-lg-3 sidebar">

			{{ partial "sidebar-content.html" . }}

			</div>
			<div class="col-sm-7 col-sm-offset-4 col-md-6 col-md-offset-3 col-lg-5 col-lg-offset-3 content">

				<div class="post">

					<div class="post-heading">
						<h1>Welcome</h1>
					</div>

					<p>
						I decided to make a very basic website where I can write a little about myself, showcase my open-source
						portfolio and randomly rant about things on a blog. There isn't much content here yet and the links on the
						left don't really work yet (except for the blog), so stay tuned!	
					</p>
					
				</div>

			</div>
			<div class="col-sm-1 col-md-3 col-md-4">
			</div>
		</div>
	</div>

{{ partial "footer.html" . }}
